ddns-update-style none;

option domain-name %(domain_name)s;
option domain-name-servers %(dns_1)s, %(dns_2)s;

authoritative;

log-facility local7;

subnet %(net_address)s netmask %(net_mask)s {
  range %(net_start)s %(net_end)s;
  option routers %(net_gateway)s;
}
